<header>
    <div class="container">
        <div>
            <h1>Carlos C. Gomez, PhD</h1>
            <p>Psychologist | Emerging Data Scientist | Lifelong Learner</p>
        </div>
        <nav>
            <div class="hamburger">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <ul>
                <li><a href="index.html" class="active">Home</a></li>
                <li>
                    <a href="#">About</a>
                    <ul>
                        <li><a href="about.html#bio">Bio</a></li>
                        <li><a href="about.html#education">Education</a></li>
                        <li><a href="about.html#certificates">Certificates</a></li>
                        <li><a href="about.html#badges">Digital Badges</a></li>
                        <li><a href="about.html#clinical">Clinical</a></li>
                    </ul>
                </li>
                <li>
                    <a href="projects.html">Projects</a>
                    <ul>
                        <li><a href="projects.html#project1">Project 1 - CAP2761 Azure Project</a></li>
                        <li><a href="projects.html#project2">Project 2 - CAP2100 Machine Learning Foundations</a></li>
                    </ul>
                </li>
                <li>
                    <a href="skills.html">Skills</a>
                    <ul>
                        <li><a href="skills.html#technical-skills">Technical Skills</a></li>
                        <li><a href="skills.html#soft-skills">Soft Skills</a></li>
                        <li><a href="skills.html#clinical-skills">Clinical Skills</a></li>
                    </ul>
                </li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
