/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Color Variables */
:root {
    --oxford-blue: #002147; /* Deep dark blue for header and footer */
    --prussian-blue: #2F3C52; /* Muted dark blue */
    --steel-blue: #4682B4; /* Soft blue */
    --paynes-gray: #627383; /* Grayish blue */
    --slate-gray: #658196; /* Slate blue */
    --light-sky-blue: #87CEFA; /* Sky blue */
    --light-steel-blue: #B0C4DE; /* Light steel blue */
    --very-light-blue: #E5F2FA; /* Very light blue */
    --alice-blue: #F0F8FF; /* Alice blue */
    --white: #FFFFFF; /* White */
    --gainsboro: #DCDCDC; /* Gainsboro */
    --light-gray: #D3D3D3; /* Light gray */
    --dark-gray: #A9A9A9; /* Dark gray */
    --gray: #808080; /* Gray */
    --dim-gray: #696969; /* Dim gray */
    --dark-slate-gray: #2F4F4F; /* Dark slate gray */
    --black: #000000; /* Black */
    --light-beige: #F1FAEE; /* Light Beige */
}

/* General Styles */
body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    background-color: var(--slate-gray);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Header Styles */
header {
    background: linear-gradient(90deg, var(--oxford-blue), var(--prussian-blue));
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 3px solid var(--gray);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: block;
    padding: 0 20px;
}

h1 {
    margin: 0;
    color: var(--white);
    font-size: 2.5em;
    letter-spacing: 1px;
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

p {
    margin: 5px 0 0 0;
    color: var(--very-light-blue);
    font-size: 1em;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    position: relative;
}

nav ul li {
    margin: 0 10px;
    position: relative;
}

nav ul li a {
    color: var(--white);
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    transition: background 0.3s, color 0.3s;
    border-radius: 5px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

nav ul li a:hover, nav ul li a.active {
    background-color: var(--steel-blue);
    color: var(--white);
}

nav ul li a.active {
    font-weight: bold;
    border-bottom: 2px solid var(--gray);
}

nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--slate-gray); 
    padding: 0;
    list-style: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li {
    margin: 0;
}

nav ul li ul li a {
    padding: 10px 15px;
    width: 180px;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: var(--white);
    margin: 5px;
    transition: all 0.3s;
}

@media (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: var(--prussian-blue);
        position: absolute;
        top: 60px;
        left: 0;
    }

    nav ul li {
        text-align: center;
        margin: 10px 0;
    }

    nav ul.show {
        display: flex;
    }

    .hamburger {
        display: flex;
    }
}

/* Footer Styles */
.footer {
    background: linear-gradient(90deg, var(--oxford-blue), var(--prussian-blue));
    color: var(--white);
    text-align: center;
    padding: 20px 0;
    border-top: 3px solid var(--gray);
}

.social-icons a {
    color: var(--white);
    margin: 0 10px;
    font-size: 2em;
}

.social-icons a:hover {
    color: var(--light-sky-blue);
}

/* Content Box */
.component-box {
    background: var(--alice-blue); /* Light blue background */
    color: var(--oxford-blue); /* Dark blue text */
    border: 1px solid var(--light-gray);
    padding: 25px;
    border-radius: 8px;
    margin: 20px auto;
    text-align: left;
    font-size: 18px;
    max-width: 800px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Slight shadow for better separation */
    display: block; /* Ensure boxes are block elements */
}

.component-box p {
    color: var(--oxford-blue); /* Dark blue text */
}

/* Ensure container class has appropriate styling */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: block; /* Ensure container is a block element */
}

.component-header {
    background-color: var(--oxford-blue); /* Deep dark blue background */
    color: var(--white); /* White text */
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin: -20px -20px 20px -20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.bio-paragraph {
    margin-bottom: 20px; /* Adjust the value as needed */
}

.section-title {
    font-size: 1.5em;
    color: var(--oxford-blue);
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: left;
    border-bottom: 2px solid var(--gray);
    padding-bottom: 5px;
}

.section-content {
    margin-bottom: 20px;
    line-height: 1.6;
}
