/* Navigation Styles */
nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    position: relative;
}

nav ul li {
    margin: 0 10px;
    position: relative;
}

nav ul li a {
    color: var(--white);
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    transition: background 0.3s, color 0.3s;
    border-radius: 5px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

nav ul li a:hover, nav ul li a.active {
    background-color: var(--steel-blue);
    color: var (--white);
}

nav ul li a.active {
    font-weight: bold;
    border-bottom: 2px solid var (--gray);
}

/* Dropdown menu styles */
nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--slate-gray);
    padding: 0;
    list-style: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li {
    margin: 0;
}

nav ul li ul li a {
    padding: 10px 15px;
    width: 180px;
}

/* Hamburger Menu */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: var(--white);
    margin: 5px;
    transition: all 0.3s;
}

@media (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: var(--prussian-blue);
        position: absolute;
        top: 60px;
        left: 0;
    }

    nav ul li {
        text-align: center;
        margin: 10px 0;
    }

    nav ul.show {
        display: flex;
    }

    .hamburger {
        display: flex;
    }
}
